[flake8]
max-line-length = 120
extend-ignore = E203, W503, E501
exclude =
    .git,
    __pycache__,
    .github,
    .env,
    *.egg-info,
    venv,
    .venv,
    voiceguard-frontend
per-file-ignores =
    test_main.py: F401, E501
    test_websocket.py: F401, E501
    benchmark.py: E501